<template>
    <div>

      <div class="myitemprogressbar ">
        <div class="line" :style="{ width: size}"></div>
       <div class="mytwoline">

         <div v-for="n in 5" >
           <span class="icofont-star stroketext " :class="checkclass(n)"   @click="submitnumber(n)"></span>
         </div>
       </div>
        <div class="titlescore" v-text="$t(title[score])"></div>
     </div>
    </div>
</template>

<script>
    export default {
        name: "progressbar",
        data(){
            return{
                title:{
                    1:'verybad',
                    2:'bad',
                    3:'normal',
                    4:'good',
                    5:'excelent',
                }
            }

        },
        watch:{
          score:function (data) {
              this.$emit('score',data);
          }
        },
        props:{

                score:{
                    type:Number,
                    default:3,


                },

        },
        computed: {
            size:function () {

            let size=(this.score*20)-3;
              return size+"%";

            }
        },
        methods:{

            checkclass(n){
              if(n<=this.score){
                  return 'goldstart';
              }
            },
            submitnumber(n){
              this.score=n;
            }
        }
    }
</script>

<style scoped>
  .titlescore{
    position: absolute;
    background-color: #8d8d8d;
    margin-top:20px;
    color:#fff;
    padding:5px;
    color: yellow;

    border-radius: 3px;
    width:90px;
    text-align: center;

    ;
  }
  .stroketext{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
    font-size: 20px;
    cursor: pointer;

  }
.myitemprogressbar{
    width: 100%;
    height: 40px;
  overflow: hidden;
  font-size: 20px;


}
.goldstart{
  color: goldenrod;
  font-size: 20px;

}
  .line{
    width: 19%;
    height: 5px;
    background-color: #ffdd00;;
    background: linear-gradient(90deg, rgba(249,255,0,1) 0%, rgba(247,120,0,1) 100%);

    margin-top: 10px;
    transition: width 1s, height 2s;

  }
  .mytwoline{

    width: 100%;
    height: 10px;
    margin-top: -15px;
  }
  .mytwoline div{
    width: 20%;
    height: 10px;
    position: relative;

    float: left;
  }
.mytwoline div::after{
  content: '';
}
</style>
