<template>
    <div class="container pt-3" v-if="setting!=null">
      <div class="wmaster" dir="rtl">

        <h2 @click="loadsetting" class="text-right" v-text="$t('commentsetting')"></h2>
        <hr>
        <form @submit.prevent="save" class="form text-right" dir="rtl">
          <select @change="parentkey++"  class="form-control" v-model="langdefault">
            <option v-for="(item,index) in allsetting" :key="index" :value="item.lang" v-text="item.lang"></option>
    ترسی      </select>
          <div class="form-group">
            <label v-text="$t('description')"></label>
            <tisseditor
              :key="parentkey"
              :keys="parentkey"
              :componentkey="1"editsubject
              :height="500"
              :text="setting.comment"
              v-on:myevent="doSomething"
              :mode="'commentsetting'"></tisseditor>

          </div>
          <hr>
          <small v-text="$t('optionvalueforScoring')"></small>
          <hr>
          <div class="form-group">
            <label v-text="$t('subject')+1"></label>
            <input class="form-control" v-model="setting.subject1">
          </div>
          <div class="form-group">
            <label v-text="$t('subject')+2"></label>
            <input class="form-control" v-model="setting.subject2">
          </div>
          <div class="form-group">
            <label v-text="$t('subject')+3"></label>
            <input class="form-control" v-model="setting.subject3">
          </div>
          <div class="form-group">
            <label v-text="$t('subject')+4"></label>
            <input class="form-control" v-model="setting.subject4">
          </div>
          <input type="submit" class="btn btn-sm btn-success" :value="$t('save')">
        </form>
      </div>

    </div>
</template>

<script>
  import  tisseditor from '../../../components/admin/tools/Tisseditor';
    export default {
      layout:'dashboard',
        name: "commentsetting",
        components:{
            tisseditor
        },
        computed:{
            setting:function () {
              if(this.allsetting!=null){
                  return  this.allsetting.find(obj =>obj.lang == this.langdefault);
              }else{
                return  null;
              }
            //  obj => obj.parent == opt.id
            //  return this.
              return {};
            }
        },
        data(){
            return{
              parentkey:1,
              allsetting:null,
                text:null,
               langdefault:'fa',

            }
        },
        methods:{
            doSomething(e){

                    this.setting.comment=e;


            },
            save(){
                let that=this;

              this.$axios.put(this.$url+'user/commentsertting/'+this.langdefault,this.setting,{
                  headers:{
                      Authorization:localStorage.token
                  }
              }).then(function (res) {
                  that.$swal.fire(that.$t('saved'));
              })
            },
            loadsetting(){
                let self=this;
                this.$axios.get(this.$url+'user/commentsertting',{
                    headers:{
                        Authorization:localStorage.token
                    }
                }).then(function (res) {
                    self.allsetting=res.data;
                })
            }
        },
        mounted() {
        this.loadsetting();
        }
    }
</script>

<style scoped>

</style>
