<template>
    <div dir="rtl">
     <div class="row sss" :style="{zoom:zoom+'%'}">
       <div class="col-sm-12" style="overflow: hidden">
         <div class="autozoom" >
           <div class="boxtopright" ></div>
           <div class="whitbox whiteboxagian" >
             <b-carousel
               id="carousel-1"

               v-model="slide"
               :interval="4000"
               controls
               indicators
               background="#ababab"

               style="text-shadow: 1px 1px 2px #333; height: 400px;"
               @sliding-start="onSlideStart"
               @sliding-end="onSlideEnd"
             >

               <b-carousel-slide v-for="item in product"  v-if="item">
                  <template  v-slot:img>
                     <img
                       class="d-block img-fluid "

                       caption="Third Slide"

                       :src="$storage+'media/Product/'+item['data']['id']+'/medium/'+item['data']['image']"

                       alt="image slot"
                     >
                   </template>

               </b-carousel-slide>


             </b-carousel>

           </div>
           <div class="whitbox nextwhitebix" ></div>
           <div class="whitbox boxesthree" >
             <div class="boxinner1 whitbox " >
               <span class="icofont-caret-right   rightmymenu"  @click="nextwallpaper"></span>
               <span class="icofont-caret-left   leftmymenu"  @click="prevallpaper"></span>
               <img class="myhumperslider"   :src="'http://127.0.0.1:8000/media/animation/'+listwallpaper[currentwallpaper]['thump']">


             </div>
             <div class="boxinner2 whitbox " >
               <span class="icofont-caret-right   rightmymenu"  @click="nextwallparde"></span>
               <span class="icofont-caret-left   leftmymenu"  @click="prevallparde"></span>
               <img class="myhumperslider"   :src="'http://127.0.0.1:8000/media/animation/'+parde[currentparde]['thump']">

             </div>
             <div class="boxinner3 whitbox " >
               <span class="icofont-caret-right   rightmymenu"  @click="nextcousan"></span>
               <span class="icofont-caret-left   leftmymenu"  @click="prevcousan"></span>
               <img class="myhumperslider"   :src="'http://127.0.0.1:8000/media/animation/'+cousan[currentcousan]['thump']">

             </div>
             <div class="boxinner4 whitbox " >

             </div>
           </div>
           <div class="whitbox largboxes" ></div>
          <div class="aniamtionabox" >
            <img class="imagesofa wallaper"   :src="'http://127.0.0.1:8000/media/animation/'+listwallpaper[currentwallpaper]['orginal']">
            <img class="imagesofa floor"   src="http://127.0.0.1:8000/media/animation/floor.jpg">

            <img class="imagesofa windows"   src="http://127.0.0.1:8000/media/animation/back.jpg">
            <img class="imagesofa parde"      :src="'http://127.0.0.1:8000/media/animation/'+parde[currentparde]['orginal']">

            <img class="imagesofa" width="500"   src="http://127.0.0.1:8000/media/animation/sofa.png">
                <img class="imagesofa cuasan"   :src="'http://127.0.0.1:8000/media/animation/'+cousan[currentcousan]['orginal']">

          </div>
         </div>



       </div>

     </div>
    </div>
</template>

<script>
    export default {
        name: "firstpagemodules",
      props:['product'],
        data(){
            return{
                zoom:100,
              currentwallpaper:0,
              currentparde:0,
              currentcousan:0,
              listwallpaper:{
                  0:{
                    thump:'wallpaper1thump.jpg',
                    orginal:'wallpaper1.jpg'
                  },
                  1:{
                    thump:'wallpaper2.jpg',
                    orginal:'wallpaper2.jpg'
                  },
              },
              cousan:{
                0:{
                  thump:'ax1.png',
                  orginal:'ax1.png'
                },
                1:{
                  thump:'02.png',
                  orginal:'02.png'
                },
              },
              parde:{
                0:{
                  thump:'parde1.png',
                  orginal:'parde.png'
                },
                1:{
                  thump:'parde2.png',
                  orginal:'parde2.png'
                },
                2:{
                  thump:'parde3.png',
                  orginal:'parde3.png'
                },
              }
            }
        },
        computed:{


        },
        methods:{
            onResize(event) {
                console.log(event);
                let w = window.innerWidth;
                this.zoom= (w*100)/1400;

            },
          nextwallpaper(){
              let max=Object.keys(this.listwallpaper).length;
              if(max==this.currentwallpaper+1){
                this.currentwallpaper=0;

              }else{
                this.currentwallpaper=this.currentwallpaper+1;

              }
          } ,
          prevallpaper(){

              let max=Object.keys(this.parde).length;
              if(this.currentparde==0){
                this.currentparde=max-1;

              }else{
                this.currentparde=this.currentparde-1;

              }
          },
          nextcousan(){
              let max=Object.keys(this.cousan).length;
              if(max==this.currentcousan+1){
                this.currentcousan=0;

              }else{
                this.currentcousan=this.currentcousan+1;

              }
          } ,
          prevcousan(){

              let max=Object.keys(this.cousan).length;
              if(this.currentcousan==0){
                this.currentcousan=max-1;

              }else{
                this.currentcousan=this.currentcousan-1;

              }
          },
          nextwallparde(){
            let max=Object.keys(this.parde).length;
            if(max==this.currentparde+1){
              this.currentparde=0;

            }else{
              this.currentparde=this.currentparde+1;

            }
          } ,
          prevallparde(){

            let max=Object.keys(this.listwallpaper).length;
            if(this.currentwallpaper==0){
              this.currentwallpaper=max-1;

            }else{
              this.currentwallpaper=this.currentwallpaper-1;

            }
          },
        },
        mounted() {
            window.addEventListener('resize', this.onResize);
            this.onResize();
        }
    }
</script>

<style scoped>
  .myhumperslider{
    height: 148px;
    margin-top: -414px;
    width: 150px;
  }
  .rightmymenu{
    top: 50px;
    font-size: 50px;
    left: 115px;
    position: relative;
    color: black;
    cursor: pointer;

  }
  .leftmymenu{
    top: 134px;
    font-size: 140px;
    left: -170px;
    position: relative;
    color: black;

    cursor: pointer;



  }
  .floor{
    width: 840px;
    margin-bottom:0px;


  }
  .wallaper{
    width: 840px;
    margin-bottom: -40px;


  }
  .windows{
    width: 366px;
    margin-bottom: 190px;
    margin-left: 80px;
  }
  .parde{
    width: 490px;
    margin-top: -124px;
    margin-bottom: 43px;
    margin-left: 0px;
  }
  .cuasan{
    right: 606px;
    margin-bottom: 358px;
  }
  .boxinner1{
    background-color: gray !important;
    width: 150px !important;
    z-index: 5000 !important;
    height: 150px !important;
    top: 506px !important;
    right: 74px !important;

  }
  .boxinner2{
    background-color: #a55454 !important;
    width: 150px !important;
    z-index: 5000 !important;
    height: 150px !important;
    top: 583px !important;
    right: 1px !important;

  }
  .boxinner3{
    background-color: red !important;
    width: 150px !important;
    z-index: 5000 !important;
    height: 150px !important;
    top: 657px !important;
    right: 75px !important;
  }
  .boxinner4{
    background-color: yellow !important;
    width: 150px !important;
    z-index: 5000 !important;
    height: 150px !important;
    top: 582px !important;
    right: 151px !important;

  }
  .imagesofa{
    position: absolute;
    bottom: 0px;
    left: 0px;

  }
  .aniamtionabox{
    float: right;
    position: absolute;
    margin-top: -600px !important;
    width: 500px;
    border-radius: 15px;
    height: 660px;
    left: 300px;
    overflow: hidden;
    top: 420px;

  }
  .autozoom{
    right: 238px;
    height: 666px;
    position: relative;
  }
.boxcenter{
  clip-path: polygon(49% 75%, 0 0, 100% 0);
  width: 100%;
  height: 400px;
  background-color: #666666;
}
  .boxtopright{


    clip-path: polygon(0 100%, 0 0, 100% 0);
    width: 376px;
    left: 376px;
    background-color: transparent;

  }
  .whitbox{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: white;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    float: right;
    position: absolute;
    margin-top: -508px !important;
    width: 550px;
    height: 550px;
    right: 0px;
    overflow: hidden;

  }
  .nextwhitebix{
    right: -54px;
    width: 500px;
    height: 500px;
    top: 150px;
    background-color: #ffdd00;

  }
  .boxesthree{
    right: 195px;
    width: 300px;
    height: 300px;
    top: 500px;
    background-color: #8a8a8a;

    }
  .largboxes{
    background-color: #38738d;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    float: right;
    position: absolute;
    margin-top: -537px !important;
    width: 540px;
    height: 540px;
    right: 57px;
    overflow: hidden;
    top: 810px;
  }
  .whiteboxagian{
    right: -222px;
    top: 505px;
    -webkit-box-shadow: 7px 17px 90px 4px rgba(115,115,115,1);
    -moz-box-shadow: 7px 17px 90px 4px rgba(115,115,115,1);
    box-shadow: 7px 17px 90px 4px rgba(115,115,115,1);
  }
  .sofacss{
    margin-top: 900px;
    width: 666px;
  }
</style>
