<template>
  <div >

    <div v-if="slider!=null" :id="sname" class="carousel slide  carousel-fade" data-ride="carousel" >
      <ol class="carousel-indicators" >
        <li :data-target="'#'+sname" v-for="(item,inx) in slider.todetail" :key="inx" :data-slide-to="inx" :class="active(inx)">2</li>

      </ol>
      <div class="carousel-inner">
        <div v-for="(item,inx) in slider.todetail" :key="inx" class="carousel-item " :class="active(inx)">
          <img class="d-block w-100"  :style="{height: height}" :src="$storage+'media/gallery/'+item.id+'/orginal/'+item.file" >
        </div>
      </div>
      <a class="carousel-control-prev" :href="'#'+sname" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" :href="'#'+sname" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</template>

<script>
    export default {
        name: "slider1",
        props:{
            sname:{
                type:String,
                default:null

            },
            name:{
                type:String,
                default:null

            },
            height:{
                type:String,
                default: '800px'

            },
            id:{
                type:String,
                default: null
            }
        },
        data(){
            return{
                slider:null,
            }
        },
        methods:{
            active(inx){
                if(inx==0){
                    return 'active';
                }
            },
            loadslider(){
                let that=this;
                this.$axios.get(this.$url+'slider',{
                    params:{
                        url:this.name,
                        id:this.id,
                    }
                }).then(function (res) {
                    that.slider=res.data;
                    that.$forceUpdate();
                })
            }
        },
        beforeMount() {
            this.loadslider();
        }
    }
</script>

<style scoped>
.d-block{
  border-radius: 15px !important;
  -webkit-box-shadow: -4px 3px 14px -2px rgba(87,87,87,1);
  -moz-box-shadow: -4px 3px 14px -2px rgba(87,87,87,1);
  box-shadow: -4px 3px 14px -2px rgba(87,87,87,1);

  border-radius: 15px !important;
}
.carousel{
  border-radius: 15px !important;
  -webkit-box-shadow: -4px 3px 14px -2px rgba(87,87,87,1);
  -moz-box-shadow: -4px 3px 14px -2px rgba(87,87,87,1);
  box-shadow: -4px 3px 14px -2px rgba(87,87,87,1);

  border-radius: 15px !important;
}
</style>
