nation {
    width: 100%;
    display: inline-block;
}
.active{
    background-color: #333 !important;
    color:#fff !important;
}
.pagination li {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination   li.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
body{
  background-color: #f6f6f6 !important;
}
.pagination li:hover:not(.active) {background-color: #ddd;}
.wmaster{
    padding: 25px;
    margin-top: 8px;
    background-color: #ffff;
    -webkit-box-shadow: -4px 6px 5px -4px rgba(176,173,176,1);
    box-shadow: -4px 6px 5px -4px rgba(176,173,176,1);
    border-radius: 15px;
    overflow: hidden;
}
.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
.tiss-cursur{
    cursor: pointer;
}
html *{
    font-size: 12px;
}
.wmaster *{
    font-size: 12px;
}
input *{
    font-size: 12px;
}
btn{
    font-size: 12px !important;
}
