<template>
    <div>
      <headers></headers>
      <div class="row favlist">
        <div class="col-sm-10" dir="rtl">
          <div class="mt-3 container text-right">
            <h2 @click="loadproduct"><span class="icofont-star"></span><span v-text="$t('favprodcutlist')"></span></h2>
            <hr>
            <div>
              <div class="container">
                <div class="card-columns " v-if="items!=null">
                  <div class="card  cell   text-right" v-for="(item,index) in items.data" :key="index">
                    <a class="mylink" :href="'/product/'+item.url">
                      <div class="  animated  ">
                        <span class="badge badge-success w-25 position-absolute m-1" v-text="item.model"></span>
                        <div class="img-hover-zoom">

                          <img class="card-img-top" style="width: 100%" :src="$storage+'media/Product/'+item.id+'/thump/'+item.image" :alt="item.name">
                        </div>
                        <div class="float-left"  style="margin-top:-15px; z-index: 5000; position: absolute; " v-if="item.color!=null">
                                             <span v-for="(colors,ind) in item.color" :key="ind">
                                                 <div  style="float: right; border-radius:16px; margin:3px;  width: 20px; height: 20px; display: inline-block;px;
                                                 overflow: hidden" :style="{background:colors.to_color.code}"></div>
                                             </span>
                        </div>
                        <div class="card-body">
                          <h4  v-text="item.name"></h4>
                          <h6 v-text="item.model"></h6>

                          <template v-if="item.status==1">
                            <a v-if="item.price!=0" href="#" class="btn btn-primary">
                              <VueNumeric  dir="rtl" :read-only="true"  separator="," v-model="item.price"></VueNumeric> <small v-text="$t('toman')"></small>

                            </a>
                            <a v-else v-text="$t('CallToAdmin')"></a>
                          </template>
                          <template v-if="item.status==2">
                            <a class="text-danger"  v-text="$t('unavailable')"></a>
                          </template>
                          <template v-if="item.status==0">
                            <a class="text-danger"  v-text="$t('Stopproduction')"></a>
                          </template>
                        </div>

                      </div>

                    </a>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <dashboardprofile></dashboardprofile>

        </div>
      </div>
    </div>
</template>

<script>
    import dashboardprofile from "../../components/profile/dashboardprofile";
    import Headers from "../../components/view/template/header";

    export default {
        name: "favlist",
        components: {Headers,dashboardprofile},
        data(){
            return{
                items:null
            }
        },
        methods:{
            loadproduct(){
                let self=this;
                this.$axios.get(this.$url+'Profile/fav/create',{
                    headers:{
                        Authorization:localStorage.token
                    }
                }).then(function (res) {
                    self.items=res.data;
                }).catch(function (er) {
                    self.$swal.fire(self.$t('pleaselogin'));
                });
            }
        },
        mounted() {
            this.loadproduct();
        }
    }
</script>

<style scoped>
.favlist div:nth-child(1) div h2 *{ font-size: 25px !important;}
.favlist div:nth-child(1) div h2 span:nth-child(1){ color: goldenrod;;}

.btn-yellow{
  background-color: yellow;
  color: #333333 !important;
  border: dashed 1px #2970e0;
}
.categorys h1 span{
  font-size: 34px;
  color: #666666;
  font-weight: bold;
}
.boxcolor{
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
  border: solid 1px rgba(69, 69, 69, 0.31);
  margin: 2px;
}
.mytextfilter{
  font-size: 20px;
  font-weight: bold;
  color:gray;
}
.myst{
  width: 15px;
  background-color: #fff;
  height: 15px;
  border: none;
}
.mylistess li{list-style: none;}
.margittop{ margin-top: 220px !important;}


.img-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform 2s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}
.mylink{
  color:#333333;;
}
.mylink:hover{
  text-decoration: none;
}


</style>
