<template>
  <div >

    <div class="row  w-100">

      <div class="col-sm-4 settingbar">

        <a class="ml-4"  href="/logout">
          <span class="icofont-logout text-danger" title="exit"></span>

        </a>
        <a class="ml-4"  href="/">
          <span class="icofont-eye " title="showwebsite"></span>

        </a>

      </div>
      <div class="col-sm-6 text-right pt-3 text-dark"  dir="rtl" style="margin-right: -20px;">
        <span class="icofont-ui-user p-4"></span>
        <span v-text="user.name"></span> <span v-if="user.lastname" v-text="user.lastname"></span> {{ $t('wellcome')}}

      </div>
      <div class="col-sm-2 ">
        <div class="logoarmi">
          <strong>TISS|</strong>
          <span>ENGINE</span>
        </div>
        <div class="col-sm-12 text-center tiss-version">
          TissEngine <i> V2.0</i>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs" dir="rtl">
      <li class="nav-item">
        <a class="nav-link active" href="/dashboard" v-text="$t('dashboard')"></a>
      </li>
      <li class="nav-item dropdown"    v-if="item.child" v-for="(item,index) in menu">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <span  :class="item.icon + ' headerwicon'"></span>  {{ $t(item.title) }}
        </a>
        <div class="dropdown-menu text-right" dir="rtl"  v-if="item.child" :key="index">
      <template v-for="(menu,index) in item.child" dir="rtl"  >

        <a class="dropdown-item "  :href="menu.href" @click="hidemenu()"  >
          <span :class="menu.icon"></span> |  <span v-text="$t(menu.title)"></span>
        </a>

      </template>
        </div>
      </li>

    </ul>
    <div class="myback  ">
      <nuxt  />
    </div>
    <footer class="footer">
      <div class="container">
        <span class="text-muted " style="font-family: Arial;">TissEngine 2.1 &copy; NuxtVue Edition - 2020 </span>
      </div>
    </footer>
  </div>
</template>

<script>
  import dashboradmenus from "~/components/admin/page/dashboradmenus";
  export default {

    name: "dashboard",
    components:{
      dashboradmenus,

    },
    data(){
      return{

        user:{},
        menu: require('~/locales/menudashboard'),
        dynamicComponent:'dashboradmenus'

      }
    },

    methods:{
      openmenu(){
        this.$modal.show('fastmenu')
      },
      hidemenu(){
        this.$modal.hide('fastmenu')
      },
      profileshow(){
        let that=this;

        this.$axios.get(this.$url+'user/profile',{headers:{Authorization:localStorage.token}})
          .then(function (response) {
            that.user=response.data;
            if(response.data.roll==null){
              $nuxt.$router.push({name: 'profile'});
            }
          }) .catch((error) => {
          console.log(error.data);
        });


      },

      cpage(page){
        this.dynamicComponent=page;
      }

    },
    watch: {

    },
    mounted() {

      if(!localStorage.token){
        $nuxt.$router.push({name: 'login'});
      }

    },
    head () {
      return {
        title: this.$t('dashboard'),
        script: [
          {
            src: process.env.BASE_BACKEND+"asset/jquery/jquery-3.5.0.min.js",

            type: "text/javascript"
          },
          {
            src: process.env.BASE_BACKEND+"asset/jquery/popper.min.js",
            type: "text/javascript"
          },
          {
            src:process.env.BASE_BACKEND+"asset/jquery/bootstrap.min.js",
            type: "text/javascript"
          }
        ]
      }
    }

  }
</script>

<style scoped>
  .myback{
    background: rgb(223,223,223);
    background: linear-gradient(180deg, rgba(223,223,223,1) 0%, rgba(255,255,255,1) 100%);


  }
  .bg-gray{
    background-color: #cdcdc9;

    color: #fff;

  }
  .bg-blue-dark{
    background-color: #367FA9;;
  }
  .tiss-navicon{
    color:#fff;
    font-size: 24px;
    margin-top: 10px;
  }
  .tiss-cursure{
    cursor: pointer;
  }
  .tiss-version{
    font-size: 10px;
    color:#999;
    font-style: italic;

  }
  .settingbar{
    padding-top: 10px;
    padding-left: 50px;
  }
  .settingbar *{
    font-size: 22px;
    color:#333333;

    cursor: pointer;


  }
  .headeofpage{
    background-color: #eee;
    border-bottom: solid #333 1px;
    padding-bottom: 20px;

  }
  .logoarmi{

    text-align: center;
    padding-top: 5%;
    color:#333;
    font-size: 17px;
  }
  .icon-rotate:hover{
    animation: iconrotate ease-in 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;

  }

  @keyframes iconrotate{
    0% {
      transform:  rotate(0deg) ;
    }
    100% {
      transform:  rotate(-44deg) ;
    }
  }
  .wmaster{
    margin-top: 8px;
    background-color: #ffff;

    -webkit-box-shadow: -4px 6px 5px -4px rgba(176,173,176,1);
    -moz-box-shadow: -4px 6px 5px -4px rgba(176,173,176,1);
    box-shadow: -4px 6px 5px -4px rgba(176,173,176,1);
    border-radius: 15px;
    overflow: hidden;

  }
  .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    margin-top: 100px;
  }
  .nolink{
    list-style: none;
    color: #2970e0;
    line-height: 12px;
    color: #425653;
  }
  .nolink:hover{
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    color: #425653;
    line-height: 12px;
  }
  .fastaccess li{
    list-style: none;
  }
</style>
