<template>
    <div>
      <headers class="headerfirstpage" ></headers>
      <nuxt />

      <footers></footers>

    </div>
</template>

<script>
    export default {
        name: "mainpage"
    }
</script>

<style scoped>

</style>
