<template>
  <div>
    <div class="row" >
      <div class="col-sm-11 row">
        <widgets  v-for="(item,index) in menu" :key="13000+index" :menu="item" class="col-sm-3"></widgets>
      </div>
      <hr>
    </div>
  </div>

</template>

<script>
  import widgets from "~/components/admin/tools/widgets";
  export default {
    layout: 'dashboard',
    data() {
      return {
        menu: require('~/locales/menudashboard'),

      }

    },
    name: "dashboradmenus",
    components: {
      widgets},

  }
</script>

<style scoped>

</style>
