<template>
<div>
  <articlelist :id="$route.params.id"></articlelist>
</div>
</template>

<script>
    import articlelist from  "~/pages/dashboard/articlelist/index"
    export default {
        name: "id",
      layout: 'dashboard',
      components:{
          articlelist
      }
    }
</script>

<style scoped>

</style>
