<template>
    <div class="container text-right"  v-if="setting!=null">
      <div class="row" >

        <div class="col-sm-6 col-xs-12 pt-5">
          <div class="form-group " dir="ltr">
            <label v-text="setting.subject1"></label>
            <progressbar :score="this.comment.subject1" v-on:score="score1" :key="100" ></progressbar>
          </div>
          <div class="form-group" dir="ltr">
            <label v-text="setting.subject2"></label>
            <progressbar  :score="this.comment.subject2"  v-on:score="score2"   :key="101" ></progressbar>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 pt-5">
          <div class="form-group" dir="ltr">
            <label v-text="setting.subject3"></label>
            <progressbar  :score="this.comment.subject3"    v-on:score="score3" :key="102" ></progressbar>
          </div>
          <div class="form-group" dir="ltr">
            <label v-text="setting.subject4"></label>
            <progressbar :score="this.comment.subject4"   v-on:score="score4" :key="103" ></progressbar>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12 container p-4" dir="rtl">

          <hr>
        </div>
        <div class="col-sm-6 col-xs-12 container p-4" dir="rtl">

        <show-article dir="rtl" :text="setting.comment"></show-article>
        </div>
        <div class="col-sm-6 col-xs-12 container p-4" dir="rtl">

          <div class="form-group" dir="ltr">
            <label v-text="$t('subject')"></label>
            <input class="form-control text-right" v-model="comment.subject">
          </div>
          <!--<div class="form-group" dir="ltr">
            <label v-text="$t('good')"></label>
            <div class="boxgoogbad">
              <span class="" @click="addtogood">
                    <span  class="icofont-plus" ></span>
              </span>
              <input type="text" dir="rtl" v-model="goodstext" class="text-right  goodbadinput">
            </div>
          </div>-->
          <div class="form-group">

            <label v-text="$t('yourtextcomment')"></label>
      <span v-if="comment.active==false" v-text="$t('publishcommentaftercofirmadministrator')"></span>
            <textarea class="form-control text-right" rows="10" v-model="comment.text"></textarea>
          </div>
          <div class="form-group">
            <input class="btn btn-success" @click="recode" :value="$t('submitcomment')">
          </div>
        </div>
        </div>
   </div>
</template>

<script>
    import 'vue-nouislider/dist/vue-nouislider.css';

    import ShowArticle from "../tools/Showarticle";
    import progressbar from "../tools/progressbar";
    export default {
        name: "comment",
        components: {ShowArticle,progressbar},
        props:['id'],
        data(){
            return{
                setting:null,
                goodstext:null,

                comment:{
                    publish:false,
                    subject1:3,
                    subject2:3,
                    subject3:3,
                    tags:null,
                    subject4:3,
                    subject:null,
                    text:null,

                }

            }
        },
        methods:{
            loadcomment(){
                let self=this;

                self.$axios.get(self.$url+'Profile/comment/'+this.id,{
                    headers:{Authorization:localStorage.token}
                }).then(function (res) {
                    if(res.data.count!='0'){
                        self.comment.subject1=parseInt(res.data.subject1);
                        self.comment.subject2=parseInt(res.data.subject2);
                        self.comment.subject3=parseInt(res.data.subject3);
                        self.comment.subject4=parseInt(res.data.subject4);
                        let mycomment=JSON.parse(res.data.comment);
                        self.comment.text=mycomment.text;
                        self.comment.subject=mycomment.subject;
                        self.comment.active=mycomment.active;
                    }


                })
            },
            recode(){
                let self=this;
                this.comment.product=this.id;
                self.$axios.post(self.$url+'Profile/comment',this.comment,{
                    headers:{Authorization:localStorage.token}
                }).then(function () {
                    self.$swal.fire(self.$t('publishcommentaftercofirmadministrator'));
                })
            },
            addtogood(){

               try{
                   if(!this.comment.good.includes(this.goodstext)){
                       this.comment.good.push(this.goodstext);
                   };
                }finally {
                    this.goodstext=null;
                }


            },
            score4(e){
              this.comment.subject4=e;
            },
            score3(e){
              this.comment.subject3=e;
            },
            score2(e){
              this.comment.subject2=e;
            },
            score1(e){
              this.comment.subject1=e;
            },
            loadsetting(){
                let that=this;
                this.$axios.get(this.$url+'commentsetting')
                    .then(function (res) {
                        that.setting=res.data;
                        that.$forceUpdate();
                    })
            }
        },
        mounted() {
            this.loadsetting();
            this.loadcomment();
        }
    };

</script>

<style scoped>
.goodbadinput{
  border: none;
  width: 95%;
  font-size: 14px;
}
.goodbadinput{
outline: none;
}
  .boxgoogbad{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
</style>
